{% extends "apployment_site/base.html" %}
{% block title %}Home {% endblock %}

{% block content %}
{% load staticfiles %}
<div class="mainimage"><div style=" margin-top: 160px; line-height: 60px;">Apployment helps you leverage <br/> college talent to <span data-typer-targets="get things done, create your next product, change the world">to get things done</span>.</div> 
</div>
      <div class="page" style="height: 450px;">
               <div class="mid-section">
    
      <div class="mid">
        <div class="inner">
          <div>
            <img src="{% static 'apployment_site/images/grad.png' %}" height="100" id="grad" alt="" />
            <h2><span>College</span> Students<br />at Your Disposal</h2>
          </div>
          <div class="center-icon">
            <img src="{% static 'apployment_site/images/money.png' %}" height="100" />
            <h2>Save Money<br />on Development</h2>
          </div>
          <div>
            <img src="{% static 'apployment_site/images/liberty.png' %}" height="100" />
            <h2>Keep Jobs <br />in America</h2>
          </div>
        </div>
      </div>
      <div class="mid mid-text">
        <div class="inner" style="padding-left: 20px; padding-right: 20px;">
          <div>
            <p>Apployment helps you find college developers and designers from some of the nation's top colleges to do freelance work for you. Right now, we only allow students from top 20 schools so that you can ensure you're getting a quality freelancer.</p>
          </div>
          <div class="center-icon">
            <p>Often, it's not necessary to pay development firms thousands of dollars to
              get something built that a college student could do just as well. College students tend to be up to 60% cheaper than professional firms.</p>
          </div>
          <div>
            <p>A lot of freelancing jobs end up getting sent out of the country, especially on sites like Freelancer and Elance. Our goal is to keep as
              many jobs in America as possible by providing students who are competitively priced with those that are overseas.</p>
          </div>
        </div>
      </div>
    </div>
               
                    
          </div>

          <div class="interest">
               <p style="text-align: center; font-weight: 100; font-size: 40px; color: #3969AB;">Still interested?</p>
               <a href="/search"><div class="button btn-blue" style="margin-right:20px">Search for Developers</div></a>
          </div>
          <script type="text/javascript" src="{% static 'apployment_site/js/jquery.typer.js' %}"></script>
  <script type="text/javascript">
    $('[data-typer-targets]').typer({
  highlightSpeed    : 1,
  typeSpeed         : 1,
  clearDelay        : 10000,
  typeDelay         : 60000,
  clearOnHighlight  : true,
  typerDataAttr     : 'data-typer-targets',
  typerInterval     : 20000
}) 
  </script>
          <script>
  
</script>


{% endblock %}