{% extends "apployment_site/base.html" %}
{% block title %}Search {% endblock %}
{% load staticfiles %}
{% block content %}

	<div class="page" style="height: 100%">
  
	  <form action=""  method="POST" style="margin-top: -25px; text-align:center;">{% csrf_token %}
	      <h2>Search for a Developer</h2>
	      <span style="padding-right: 5px;">
	      	<input class="form-login grayoutline green" type="text" style="width: 198px;" id="name" name="school" placeholder="School">
	      </span>
	      
	     <span id="sk">
	       <select data-placeholder="Skills" name="skills" style="width:350px;" class = "skills" id="skills" multiple>
				{%for x in skills%}
				<option>{{x.skill}}</option>
				{% endfor %}
      		</select>
      	</span> 
      	<br>
      	<br>
      		<input class ="signin-login green" type=submit value="Search">
	   </form>

	   <div class="content" style="text-align:center; margin-top: 50px;">
	   	{% if result %}
	   		<h2>Results</h2>
			{% for user in result %}
		   <div>{{user.first_name}} {{user.last_name}}, {{user.school}}, <a href="{% url 'user' user.username %}">View Profile</a></div>
		   {% endfor %}
		{% endif %}
	   </div>
	   
    </div>
<script type="text/javascript">
	$('.skills').chosen();
</script>
    
{% endblock %}