{% extends 'apployment_site/base.html' %}
{% load staticfiles %}
{% block title %}Signup{% endblock %}

{% block content %}


   
</script>
          <div class="page" style="height: 330px;">



<div style="margin-left: 30%;">
</br>
</div> 
<div id="error">{{error}}</div>
  
  <form action=""  method=post id="signup" style="margin-left: 150px" enctype="multipart/form-data">{% csrf_token %}
      <h2>Bio</h2>
      <input  class="form-login grayoutline green" type="text" style="width: 198px;" id="name" name="firstName" placeholder="First Name">
      <input  class="form-login grayoutline green" type="text" style= "width: 198px;" id="lastname" name="lastName" placeholder="Last Name">
    <p>
      <p><input class="form-login grayoutline green" type=text type="hidden" id="email" name = "email" placeholder="Email"></input>
    </div>

    <div style="margin-left: 150px;">
      <h2 style="margin-left: -120px;">User Info</h2>
    <p><input class="form-login grayoutline green" type=text  id="username" name = "username" placeholder="Username"></input> <p>
      <input class="form-login grayoutline green" type="password"  id="password" name = "password" placeholder="Password"> <p>
    <textarea  name="description" class="form-area" rows="5" maxlength = "200" placeholder="Profile description (Companies will be able to see this)." cols="50"></textarea>    

    </div>
    
      
      <input type="hidden" name = "type" id="type"></input>
      

      <div class="page2" style="height: 250px;">
        <h2>School</h2>
          <p><input class="form-login grayoutline green" type=text  id="school" name = "school" placeholder="University/College"></input>
          <p><input class="form-login grayoutline green half" type=text  id="year" name = "year" placeholder="Graduation Year"></input>
            <input class="form-login grayoutline green half" type=text  id="major" name = "major" placeholder="Major">
            </div>


        <div style="margin-left: 150px;">
          <h2 style="margin-left: -120px;">Skills</h2>
      <span id="sk">
      <select data-placeholder="Skills" name="skills" style="width:350px;" class = "skills" id="skills" multiple>


  {%for x in options%}
  <option>{{x.skill}}</option>
  {% endfor %}
      </select>
    </span> 
    
      <br /> <br/>
</div>
  <div class="page2" style="height: auto;">
    <h2>Experience</h2>
    <!-- Experience 1 -->
        <p><input class="form-login grayoutline green half" type=text  id="title1" name = "title1" placeholder="Job Title">

          <input class="form-login grayoutline green half" type=text  id="company1" name = "company1" placeholder="Company"> <p>

           <textarea  name="expDescription1" class="form-area" style="height: 90px; width: 400px" rows="3" maxlength = "200" placeholder="Description of Job." cols="20"></textarea> 

       <br/>
             <span class ="signin-login green" id="upload" style="line-height:50px; text-align:center; width: 200; padding: 15px;"> Upload Resume:</span> Allowed extensions are .pdf, .doc, and .txt <p> <div id="filename"></div> <p> <input style="display:none" class = "file" type=file name="file">
  </div>
      <div style="text-align:center; margin-top: 15px;">
      <input class ="signin-login green" type=submit value="Create entry">
    </div>
      <script type="text/javascript">
$('#upload').click(function() {
    $('.file').click();
});
$('input[type=file]').bind('change', function() {
    var str = "";
    str = $(this).val();    

    $("#filename").text(str);
}).change();

	$('.skills').chosen();

      </script>
  </form>


{% endblock %}